mat-sidenav {
    width: 100%;
}

.logo {
    padding: 10px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;

    .simple-text {
        text-transform: uppercase;
        padding: 5px 0px;        
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        color: #3C4858;
        white-space: nowrap;
        font-weight: 400;
        line-height: 30px;
        overflow: hidden;
        text-align: center;
        display: block;
    }
}

.logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
}

.sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
}