<mat-toolbar>
  <mat-toolbar-row>
    <span #header>COOPERATIVE</span>
    <span fxFlex></span>
    <ng-container *ngIf="!mobileQuery.matches">
      <button mat-icon-button (click)="navigationService.toggle()">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button (click)="navigationService.toggle()">
        <mat-icon>person</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="mobileQuery.matches">
      <button mat-icon-button (click)="navigationService.toggle()" class="toggler-icon">
        <mat-icon [@iconRotate]="navigationService.isOpen ? 'close': 'menu'">menu</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>