<div class="wrapper">
    <mat-sidenav-container fxFlex>
        <mat-sidenav #sidenav
            [mode]="mobileQuery.matches ? 'push' : 'side'" 
            [opened]="!mobileQuery.matches"
            [position]="mobileQuery.matches ? 'end' : 'start'"
            [fixedInViewport]="mobileQuery.matches">
            <app-sidenav></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content #content>
            <app-topnav></app-topnav>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>