table {
    width: 100%;
}

button:focus {
    outline:0;
}

.search-form {
    font-size: 14px !important;
    // width: 100%;
}

.mobile-cell.mat-cell {
    padding: 0 0;
}

.mat-expansion-panel-body {
    padding: 0 0;
}

mat-card {
    border: none;
    box-shadow: none !important;
}

mat-toolbar {
    background: transparent;
}

.tooltip {
    background-color: darkblue;
    font-size: 12px;
}